body {
    background: url("images/forum_masonry_page/masonry_bg_img.jpg") top center no-repeat;
    background-size: cover;
    background-color: var(--bg-color);
    background-attachment: fixed;
    width: 100%;
}

.main-article {
    margin-top: 256px;
}

/* ----------------------left side section---------------------- */

/* left side article */
.left-side-section .left-side-article {
    background-color: var(--card-color);
    padding: 128px 104px 56px 104px;
    border-radius: var(--border-radius-8);
    margin-bottom: 32px;
    box-shadow: var(--box-shadow-card-lg);
}

.left-side-article p:nth-child(1) {
    margin-bottom: 8px;
}

.left-side-article .section-header-b {
    margin-bottom: 12px;
    line-height: 140%;
}

.left-side-article .article-extra-info {
    margin-bottom: 48px;
}

.left-side-article .date {
    margin-right: 16px;
    opacity: var(--opacity-50);
}

.left-side-article .author-name {
    margin-left: 8px;
    color: #29ABEB;
}

.left-side-article .arti-cat-tag {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: var(--border-radius-50);
    background-color: var(--bg-color);
}

/* .left-side-article .spoiler,
.left-side-article .spoiler-free {
    border-radius: var(--border-radius-50);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}

.left-side-article .spoiler {
    background-color: var(--brand-color);
    box-shadow: var(--box-shadow-red);
    color: var(--bg-color);
    display: flex;
    align-items: center;
}

.left-side-article .spoiler-free {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.1);
} */

.left-side-article .sub-title-r {
    opacity: var(--opacity-75);
}

.left-side-article .img-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 48px 0 56px 0;
    display: flex;
}

.left-side-article .img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: var(--border-radius-8);
}

.left-side-article .comment-data {
    border-top: 1px solid rgba(255, 255, 255, 0.1)
}

.left-side-article .comment .content i {
    font-size: 18px;
}

.left-side-article .article-content {
    margin-bottom: 88px;
}

.left-side-article .thumbs-up,
.left-side-article .comment,
.left-side-article .share {
    padding: 12px 24px;
}

.left-side-article .thumbs-up:hover .thumbs-up {
    background-color: #ccc;
}

.left-side-article .comment-data i {
    margin-right: 8px;
    font-size: 18px;
}

/* ----- left side comment ----- */
.left-side-comment {
    background-color: var(--card-color);
    padding: 0 104px;
    border-radius: var(--border-radius-8);
}

.left-side-comment .comment-count,
.left-side-comment .comments {
    padding-top: 64px;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side-comment .comment-count {
    opacity: var(--opacity-75);
    margin-right: 8px;
}

.left-side-comment .comments {
    opacity: var(--opacity-50);
}

.left-side-comment .tab-bar {
    padding: 12px 16px;
    font-size: 20px;
    margin-bottom: 32px;
    cursor: pointer;
}

.left-side-comment .tab-bar.chosen {
    font-weight: 700;
    border-bottom: 2px solid var(--brand-color);
}

.left-side-comment .comment {
    width: 100;
    display: flex;
    padding: 40px 0 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.left-side-comment .comment-1 {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.left-side-comment .comment .avatar,
.left-side-comment .write-comment .avatar {
    width: 7%;
}

.left-side-comment .comment .avatar .img-wrap,
.left-side-comment .write-comment .avatar .img-wrap {
    width: 100%;
    display: flex;
}

.left-side-comment .comment .avatar .img-wrap img,
.left-side-comment .write-comment .avatar .img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: var(--border-radius-50-percent);
    box-shadow: var(--box-shadow-avatar-sm);
}

.left-side-comment .comment .content {
    width: 93%;
    padding-left: 20px;
}

.left-side-comment .comment p {
    opacity: var(--opacity-75);
}

.left-side-comment .member-name {
    opacity: var(--opacity-90);
    margin-right: 16px;
}

.left-side-comment .member-info {
    margin-bottom: 12px;
}

.left-side-comment .fa-clock {
    opacity: var(--opacity-50);
    margin-right: 8px;
}

.left-side-comment .timestamp {
    opacity: var(--opacity-50);
}

.left-side-comment .fa-ellipsis-h {
    opacity: var(--opacity-50);
}

.left-side-comment .response a,
.left-side-comment .response i,
.left-side-comment .response span {
    margin: auto 0;
    display: block;
}

.left-side-comment .like-count {
    padding-left: 8px;
}

.left-side-comment .reply {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius-4);
    padding: 4px 12px;
    margin-left: 24px;
}

.left-side-comment .fa-ellipsis-h {
    display: flex;
    align-items: start;
}

/* ----- tab content ----- */
.left-side-comment #myTab {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    border: none;
    padding: 0;
}

.left-side-comment .nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active {
    color: white;
    font-weight: 700;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid var(--brand-color);
    box-shadow: 0px 16px 14px -20px var(--brand-color);
}

.left-side-comment .nav-link {
    border-color: transparent;
    display: block;
    padding: 1rem 0.75rem;
    color: white;
    font-weight: 400;
}

.left-side-comment .nav-link {
    border-color: transparent;
    display: block;
    padding: 1rem 0.75rem;
    color: white;
    font-weight: 400;
}

.left-side-comment .nav-tabs .nav-link:hover {
    border-color: rgba(255,255,255,0);
    transition: .3s ease-in-out;
}

.left-side-comment .nav-tabs .nav-link:focus {
    border-bottom: 2px solid var(--brand-color);
    transition: .3s ease-in-out;
}

.left-side-comment .tab-content {
    width: 100%;
    justify-content: space-between;
}

/* ----- write comment ----- */
.write-comment {
    display: flex;
    padding: 40px 0 56px 0;
}

.write-comment .form {
    width: 93%;
}

.write-comment .form-group {
    margin-left: 20px;
}

.write-comment .form-control {
    color: rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: var(--border-radius-4);
}

.btn-brand:hover {
    color: #fff;
    font-weight: 700;
    box-shadow: var(--box-shadow-red);
}

/* ----------------------aside section---------------------- */
.aside-section .col-xl-3,
.aside-section .col-xl-12,
.aside-section .col-lg-3,
.aside-section .col-lg-9 {
    padding: 0;
}

/* ----- aside ads ----- */
.aside-ads {
    width: 100%;
    margin-bottom: 32px;
    max-height: 256px;
    background-color: var(--card-color);
    border-radius: var(--border-radius-8);
    box-shadow: var(--box-shadow-card-lg);
}

.aside-ads .img-wrap {
    max-width: 310px;
    max-height: 256px;
    display: flex;
}

.aside-ads .img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: var(--border-radius-8);
}

/* ----- aside member info ----- */
.aside-member-info {
    margin-bottom: 96px;
    font-size: 14px;
    background-color: var(--card-color);
    border-radius: var(--border-radius-8);
    box-shadow: var(--box-shadow-card-lg);
}

.aside-member-info .img-wrap {
    width: 72%;
    margin: 32px 0 16px 0;
    padding: 0 40px;
}

.aside-member-info .img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: var(--border-radius-50-percent);
    box-shadow: var(--box-shadow-avatar-lg);
}

.aside-member-info .name {
    margin-bottom: 8px;
    padding: 0 40px;
}

.aside-member-info .membership {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
}

.aside-member-info .inner-content {
    padding: 4px 12px;
    margin-bottom: 24px;
    border: 0.75px solid white;
    border-radius: var(--border-radius-50);
    margin: 0 auto;
}

.aside-member-info .inner-content i {
    margin-right: 8px;
}

.aside-member-info .description {
    margin-bottom: 24px;
    padding: 0 40px;
}

.aside-member-info p.body2-r {
    line-height: 170%;
    opacity: var(--opacity-75);
}

.aside-member-info .social-media {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    padding: 0 88px;
    font-size: 32px;
    opacity: var(--opacity-50);
}

/* ----- extra info ----- */
.aside-member-info .extra-info {
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.aside-member-info .ticket,
.aside-member-info .post {
    width: 50%;
    padding-bottom: 16px;
}

.aside-member-info .ticket {
    border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.aside-member-info .extra-info .ticket-count {
    padding: 16px 40px 0 40px;
    text-align: center;
    font-size: 56px;
    opacity: var(--opacity-25);
    font-weight: 700;
    line-height: 100%;
}

.aside-member-info .extra-info .my-ticket,
.aside-member-info .extra-info .my-post {
    padding: 0 40px;
    text-align: center;
    font-size: 1rem;
    opacity: var(--opacity-75);
}

/* ----- aside related articles ----- */
.aside-related-articles .related-articles {
    background-color: rgba(32, 32, 32, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: var(--border-radius-8);
    display: flex;
    margin-bottom: 20px;
}

.aside-related-articles .content {
    width: 75%;
    padding: 16px 12px 16px 24px;
}

.aside-related-articles .spoiler,
.aside-related-articles .spoiler-free {
    border-radius: var(--border-radius-50-percent);
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.aside-related-articles .spoiler {
    background-color: var(--brand-color);
    box-shadow: var(--box-shadow-red);
    color: var(--bg-color);
}

.aside-related-articles .spoiler-free {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.1);
}

.aside-related-articles .arti-cat-tag {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: var(--border-radius-50);
    background-color: var(18, 18, 18, 0.5);
}

.aside-related-articles .content .tags {
    margin-bottom: 8px;
}

.aside-related-articles .content p {
    opacity: var(--opacity-90);
}

.aside-related-articles .img-wrap {
    width: 25%;
}

.aside-related-articles .img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 0px 8px 8px 0px;
}

.aside-related-articles .content p {
    line-height: 140%;
}

/* =================================== @media =================================== */
/* ============================================================================== */

/* ------------------------  小於 1400px  ------------------------*/
@media screen and (max-width: 1400px) {

    /* ----- left side article ----- */
    .left-side-article {
        padding: 96px 64px;
    }

    .left-side-comment {
        padding: 0 64px;
    }

    /* ----- aside member info ----- */
    .aside-member-info .social-media {
        padding: 0 64px;
    }

    .aside-member-info .img-wrap {
        padding: 0 32px;
    }

    .aside-member-info .extra-info .ticket-count {
        padding: 16px 32px 0 32px;
    }

    .aside-member-info .extra-info .my-ticket,
    .aside-member-info .extra-info .my-post {
        padding: 0 24px;
    }
}

/* ------------------------  小於 1200px  ------------------------*/
@media screen and (max-width: 1200px) {

    /* ----- left side section ----- */
    .left-side-section {
        padding: 0 32px;
    }

    .left-side-section .left-side-article {
        padding: 72px 64px;
    }

    /* ----- aside-related-articles ----- */
    .aside-related-articles .related-articles {
        padding-bottom: 16px;
        margin-bottom: 32px;
        border-radius: var(--border-radius-4);
    }

    .aside-related-articles .related-articles .img-wrap {
        width: 100%;
        display: flex;
    }

    .aside-related-articles .related-articles .img-wrap img {
        border-radius: 4px 4px 0 0;
    }

    .aside-related-articles .related-articles .content {
        width: 100%;
        padding: 24px 16px 16px 24px;
    }
}

/* ------------------------  小於 992px  ------------------------*/
@media screen and (max-width: 992px) {

    body {
        background: url("images/movie_booking_page/bg_img/TEST.jpg") top center no-repeat;
        background-size: contain;
        background-color: var(--bg-color);
    }

    .main-article .container {
        max-width: 100%;
    }
}

/* ------------------------  小於 768px  ------------------------*/
@media screen and (max-width: 768px) {

    .left-side-section .left-side-article {
        padding: 56px 48px;
    }

    /* ----- left side article ----- */
    .left-side-article .article-content {
        margin-bottom: 48px;
    }

    .left-side-article p.section-header-b {
        font-size: 1.25rem;
    }

    .left-side-article p.sub-title-r {
        font-size: 1rem;
    }

    .left-side-article .article-extra-info .arti-cat-tag,
    .left-side-article .article-extra-info .spoiler,
    .left-side-article .article-extra-info .spolier-free,
    .left-side-article .article-extra-info .comment span {
        font-size: 0.875rem;
    }

    /* ----- left side comment ----- */
    .left-side-comment .comment .content {
        width: 88%;
    }

    .left-side-comment .comment .avatar,
    .left-side-comment .write-comment .avatar {
        width: 12%;
    }

    .left-side-comment .comment-count,
    .left-side-comment .comments {
        padding: 48px 0 24px 0;
    }

    .left-side-comment .comment p {
        margin-bottom: 24px;
    }

    .left-side-comment .tab-bar,
    .left-side-comment .tab-bar.chosen,
    .left-side-comment .sub-title-b {
        font-size: 1rem;
    }

    .left-side-comment .reply,
    .left-side-comment .like-count {
        font-size: 0.875rem;
    }

}

/* ------------------------  小於 576px  ------------------------*/
@media screen and (max-width: 576px) {

    /* ----- left side article ----- */
    .left-side-section .left-side-article,
    .left-side-section .left-side-comment {
        padding: 24px 0px;
        border-radius: 0;
        margin: 0;
        background-color: transparent;
        box-shadow: none;
    }

    .left-side-article .img-wrap {
        margin: 24px 0 32px 0;
    }

    .left-side-article .thumbs-up,
    .left-side-article .comment,
    .left-side-article .share {
        padding: 16px;
    }

    .left-side-comment .comment {
        padding: 20px 0 10px 0;
    }

    .left-side-comment .comment .content p {
        margin-bottom: 8px;
    }

    /* ----- aside-related-articles ----- */
    .aside-related-articles .related-articles {
        display: block;
        padding-bottom: 8px;
    }

    .aside-related-articles .related-articles .img-wrap {
        height: 144px;
    }
}

/* ------------------------  小於 418px  ------------------------*/
@media screen and (max-width: 418px) {

    body {
        background: url("images/forum_masonry_page/masonry_bg_img_418-1.jpg") top center no-repeat;
        background-size: contain;
        background-color: var(--bg-color);
    }

    .main-article {
        margin-top: 200px;
    }

    .left-side-section {
        padding: 0;
    }

    /* ----- left side article ----- */
    .left-side-article .section-header-b {
        margin-bottom: 8px;
    }

    .left-side-article .article-extra-info {
        margin-bottom: 24px;
    }

    .left-side-article .article-content {
        margin-bottom: 24px;
    }

    /* ----- left side comment ----- */
    .left-side-comment .comment-count,
    .left-side-comment .comments {
        display: none;
    }

    .left-side-comment .comment .avatar,
    .left-side-comment .write-comment .avatar {
        width: 10%;
    }

    .left-side-comment .member-info {
        margin-bottom: 4px;
    }

    .left-side-comment .response a,
    .left-side-comment .response i,
    .left-side-comment .response span,
    .left-side-comment .member-name,
    .left-side-comment .timestamp {
        font-size: 0.875rem;
    }

    .left-side-comment .member-name {
        margin-right: 8px;
    }

    .left-side-comment .comment .content {
        width: 90%;
        padding-left: 12px;
    }

    .left-side-comment .comment .content p {
        font-size: 0.875rem;
    }

    .left-side-comment .fa-clock {
        font-size: 15px;
        margin-right: 4px;
    }

    .left-side-comment .comment .content p {
        margin-bottom: 4px;
    }

    .left-side-comment .write-comment {
        padding: 20px 0 48px 0;
    }

    .left-side-comment .write-comment .form-group {
        margin-left: 12px;
    }

    .left-side-comment .tab-bar {
        padding: 8px;
        font-size: 16px;
        margin-bottom: 16px;
    }

    .left-side-comment #myTab {
        margin-bottom: 8px;
    }

    /* aside related articles */
    .aside-related-articles .d-lg-block .col-12,
    .aside-related-articles .d-lg-block .col-sm-6,
    .aside-related-articles .d-lg-block .col-md-6,
    .aside-related-articles .d-lg-block .col-lg-4 {
        padding: 0;
    }

    .aside-section.col-xl-3 {
        padding: 0;
    }

    .aside-related-articles .related-articles {
        padding-bottom: 0;
        margin-bottom: 16px;
    }

    .aside-related-articles .related-articles .content {
        padding: 16px;
    }

    .aside-related-articles .related-articles .img-wrap {
        height: 112px;
        border-radius: 0 4px 4px 0;
    }

    .aside-related-articles .related-articles .img-wrap img {
        border-radius: 0 4px 4px 0;
    }

    .aside-related-articles .subtitle .sub-title-r {
        display: none;
    }
}